@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

$bg-color: #f5e9e2;
$dark-blue: #23395b;
$light-blue: #3e65a2;
$light: white;
$grey: #f9f9f9;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

//**********HEADER-NAVIGATION**********

.logo {
  font-family: "Ultra", serif;
  font-style: normal;
  font-size: 2rem;
}

.nav {
  background-color: $dark-blue;
  color: $light;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.active {
  background-color: $light-blue;
}

.nav li:hover {
  background-color: #5b83c0;
}

//**********FOOTER**********

.footer {
  background-color: $dark-blue;
  color: $light;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem 1rem;
}

.social {
  color: $light;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 20px;
  font-size: 1.5rem;
}

h1 {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

//**********MAIN-CONTAINERS**********
.mainContainer a {
  text-decoration: none;
  color: black;
}
.mainContainer {
  width: 100%;
  min-height: 100vh;
  background: $bg-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 25px;
  align-items: center;
  padding: 2rem 10rem;
}

.mainContainer .box {
  text-align: center;
  padding-bottom: 10px;
  transition: 0.3s ease-in-out;
  background-color: lighten($bg-color, 2%);
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.box:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transform: scale(1.1);
}

.mainContainer .card {
  padding: 15px 15px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card .image {
  width: 90%;
  height: 300px;
  object-fit: cover;
  background: $grey;
  margin: 10px auto 25px;
  position: relative;
  border-radius: 50%;
}

//**********PRODUCT-CONTAINERS**********

.prodContainer {
  width: 100%;
  min-height: 100vh;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 20rem;
}

.prodContainer .prodBox {
  padding-bottom: 10px;
  transition: 0.3s ease-in-out;
  background-color: lighten($bg-color, 2%);
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 80%;
}

.prodContainer .prodCard {
  padding: 15px 15px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prodCard .image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  background: $grey;
  margin: 10px auto 25px;
  position: relative;
  // border-radius: 50%;
}

.prodCard .tags {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.newprice,
.oldprice {
  font-size: 1rem;
}
.newprice {
  font-weight: bold;
}
.oldprice {
  text-decoration: line-through;
}
.discount {
  font-size: 1.4rem;
  color: red;
}

//**********BUTTONS**********

.btn,
.checkout-btn,
.remove-btn {
  padding: 12px 24px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $bg-color;
  border-color: $dark-blue;
  border-radius: 15px;
}

.btn:hover,
.checkout-btn:hover {
  background-color: $dark-blue;
  color: $light;
}

.btn:active,
.checkout-btn:active {
  background-color: $light-blue;
}

.btn-wrap {
  text-align: center;
}

.remove-btn {
  color: red;
  font-size: 10px;
  margin: 10px;
}
.remove-btn:hover {
  background-color: red;
  color: $light;
}

//**********SEARCHBAR**********

.input-wrapper {
  background-color: $grey;
  border-radius: 5px;
  height: 2rem;
  padding: 0 5px;
  box-shadow: 0px 0px 2px #ddd;
  display: flex;
  align-items: center;
  align-self: center;
  width: 100%;
}
.nav input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  margin-left: 5px;
}
.nav input:focus {
  outline: none;
}
#search {
  color: $dark-blue;
}
.results-list {
  color: black;
  background-color: $light;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 0px 0px 2px #ddd;
  border-radius: 5px;
  margin-top: 55px;
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
}
.search-wrapper {
  display: flex;
  position: relative;
}
.results-list a:hover {
  background-color: #5b83c0;
  color: $light;
}

//**********CART**********

.cart-icon {
  position: relative;
}

.cart-overlay {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: $light;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  background-color: lighten($bg-color, 2%);
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.cart-image {
  height: 100%;
  max-height: 200px;
  width: 200px;
  object-fit: cover;
}
.prodContainer ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 0;
}
.cart-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.counter {
  width: 200px;
  display: flex;
  flex-direction: row;
}
.img-wrapper {
  display: flex;
}

//**********SCREEN SIZES**********
@media screen and (max-width: 1200px) {
  .prodContainer {
    padding: 1rem 10rem;
  }
  .mainContainer {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 998px) {
  .mainContainer {
    padding: 2rem 3rem;
    gap: 40px 20px;
  }
  .prodContainer {
    padding: 1rem 3rem;
  }
  .card .image {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 2rem;
    gap: 40px 20px;
  }
  .prodContainer {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 650px) {
  .cart-details {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 20px;
  }
  .cart-image {
    width: 150px;
  }
  .cart-item {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .mainContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 1rem;
  }
  .prodContainer {
    padding: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav ul {
    font-size: 1rem;
  }
  form {
    width: 340px;
  }
  .copyright {
    font-size: 0.8rem;
  }
  .cart-item {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .cart-image {
    width: 350px;
  }
}
